*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{background: url('../images/bodyImg.jpg'); position: relative;}
#umumi{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .sun{
    width: 200px;
    height: 200px;
    background: url('../images/sun.png') center/cover;
    position: absolute;
    animation: sun 40s infinite;
 }
 @keyframes sun {
    0%{rotate: 0deg;}
    100%{rotate: 360deg;}
 }

 .earth{
    width: 90px;
    height: 90px;
    background: url('../images/earth.png') center/cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top left;
    animation: earth 38s linear infinite;
 }

 @keyframes earth {
    0%{transform: rotate(0deg) translate(180px, 0);}
    100%{transform: rotate(360deg) translate(180px, 0);}
 }
 .moon{
    width: 30px;
    height: 30px;
    background: url('../images/moon.jpg') center/cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top left;
    animation: moon 38s 0.8s linear infinite;
 }

 @keyframes moon {
    0%{transform: rotate(0deg) translate(180px, 0);}
    100%{transform: rotate(360deg) translate(180px, 0);}
 }
 
 .star1{
    width: 25px;
    height: 25px;
    background: url('../images/Untitled-3.png') center/cover;
    position: absolute;
    top: 50px;
    right: 250px ;
    transform-origin: top left;
    animation: star 2s linear infinite;
 }

 @keyframes star {
    0% {transform: rotate(305deg) translateX(0);}
    100% {transform: rotate(315deg) translateX(-700px);}
 }
 
 .star2{
    width: 25px;
    height: 25px;
    background: url('../images/Untitled-3.png') center/cover;
    position: absolute;
    top: 55px;
    right: 250px;
    transform-origin: top left;
    animation: star2 2s linear infinite;
 }
 @keyframes star2 {
    0% {transform: rotate(310deg) translateX(0);}
    100% {transform: rotate(300deg) translateX(-700px);}
 }

 
 .star3{
    width: 25px;
    height: 25px;
    background: url('../images/Untitled-3.png') center/cover;
    position: absolute;
    top: 60px;
    right: 250px;
    transform-origin: top left;
    animation: star3 2s linear infinite;
 }
 @keyframes star3 {
    0% {transform: rotate(315deg) translateX(0);}
    100% {transform: rotate(325deg) translateX(-700px);}
 }
 
 .star4{
    width: 25px;
    height: 25px;
    background: url('../images/Untitled-3.png') center/cover;
    position: absolute;
    top: 65px;
    right: 250px;
    transform-origin: top left;
    animation: star4 2s linear infinite;
 }
 @keyframes star4 {
    0% {transform: rotate(315deg) translateX(0);}
    100% {transform: rotate(250deg) translateX(-500px);}
 }